.badgeGroup{
 
  .badge{
    background: #ffbe79dd;
    margin-right: 20px;
    padding: 6px;
  }
}
.label{
  color: #555;
}
.desc{
  margin-top:15px;
}
.price{
  color:#ffa340;
  span{
    font-size: 18px;
  }
}
.pageView{
  margin-top:20px;
}